
/*nav{
    display:flex;
    padding:0px;
    justify-content :space-around;
    min-height:10 vh;
    align-items:center;
    background-color: lightblue;
}
.hey{
    display:flex;
    justify-content :space-around;
    align-items:center;
    min-height:10 vh;
    background-color:red ;
    opacity: 0.7;
}*/